.primary{
    background-color: #34495E  !important;
    color: white!important;
}

.secondary{
    background-color: #efa94a !important;
    color: white!important;
}


.terciary{
    background-color: #34495E  ;
    color: white!important;
}



.centrar{
    margin : auto;
    padding : auto;
}

.caja{
    max-width:100 px ;
    max-height: 100 px;
}

.logo{
    max-width: 90px;
      max-height: 90px;
  }

  .user{
    max-width: 35px;
      max-height: 35px;
  }

  .user:hover{
    max-width: 35px;
      max-height: 35px;
  }

  .iconitos{
    color: #EDEABF;
  }

  .iconitos:hover{
    color: white;
    fill: rgb(255, 255, 255);
  }


  .divider {
    height: 1px;
    margin: .5rem 0;
    overflow: hidden;
    background-color: #4b4e50;
}



  .d-inline-block .dropdown-toggle::after {
    display: none !important; /* Oculta la flecha desplegable */
    border-radius: 50px; 
}

.negrita-user {
    transition: font-weight 0.3s ease;
}

/* Cambiar el peso de la fuente cuando se pasa el mouse por encima */
.negrita-user:hover {
    font-weight: bold;
}

.textjyj {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
    color: #f8f8d2;
}

.botonbarra {
    border:none;
    padding: 4px 14px;
    text-align: center;
    font-size: 17px;
    font-family: "Tahoma", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: #f8f8d2;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    position: relative;
    width: 80%; /* Ancho del contenedor de búsqueda */
    max-width: 500px; /* Opcional: ajusta el máximo ancho según tus necesidades */
    background-color: #f8f8d2; /* Color de fondo */
    border-radius: 25px; /* Radio de borde */
    padding: 5px 10px; /* Relleno interno */
}

.search-input {
    width: calc(100% - 30px); /* Ajusta el ancho del input, considerando el espacio del ícono */
    height: 25px; /* Altura del input */
    font-size: 15px; /* Tamaño de fuente */
    font-family: "Poppins", sans-serif; /* Fuente */
    border: none; /* Quita el borde del input si quieres usar solo el borde del contenedor */
    outline: none; /* Quita el contorno al hacer clic */
    background: transparent; /* Fondo transparente */
}

.search-icon {
    position: absolute;
    right: 10px; /* Ajusta la posición del ícono a la derecha */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta para centrar verticalmente */
    color: #888; /* Color del ícono */
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
}

  .stylebutton {
    background-color: transparent;
    color: #f8f8d2;
    padding: 1px 10px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Cambiar el color del texto al pasar el mouse por encima */
.stylebutton:hover {
    font-weight: bold;
    background-color: #50aa0c;
    padding: 1px 10px;
    border: 0px solid #69df0f;
    border-radius: 12px;

}

.botoncateg {
    background-color: transparent;
    color: #8d8d86;
    padding: 1px 10px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Cambiar el color del texto al pasar el mouse por encima */
.botoncateg:hover {
    color: #000000; /* Cambia este color según tu preferencia */
    font-weight: bold;

}


.header-barra {
    background-color: #4CAF50;
    padding: 1px 10px;
    color: white;
    
}