.primary{
    background-color: #34495E  !important;
    color: white!important;
}

.secondary{
    background-color: #efa94a !important;
    color: white!important;
}


.terciary{
    background-color: #34495E  ;
    color: white!important;
}



.centrar{
    margin : auto;
    padding : auto;
}

.caja{
    max-width:100 px ;
    max-height: 100 px;
}

.logo{
    max-width: 90px;
      max-height: 90px;
  }

  .user{
    max-width: 35px;
      max-height: 35px;
  }


  .divider {
    height: 1px;
    margin: .5rem 0;
    overflow: hidden;
    background-color: #4b4e50;
}



  .d-inline-block .dropdown-toggle::after {
    display: none !important; /* Oculta la flecha desplegable */
    border-radius: 50px; 
}

.negrita-user {
    transition: font-weight 0.3s ease;
}

/* Cambiar el peso de la fuente cuando se pasa el mouse por encima */
.negrita-user:hover {
    font-weight: bold;
}

.textjyj {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
    color: #f8f8d2;
}

.botonbarra {
    border:none;
    padding: 4px 14px;
    text-align: center;
    font-size: 17px;
    font-family: "Tahoma", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
  }

  .search {
    border:none;
    padding: 4px 10px;
    text-align: center;
    font-size: 13px;
    font-family: "Tahoma", sans-serif;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    
  }

  .stylebutton {
    background-color: transparent;
    color: #f8f8d2;
    padding: 1px 10px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Cambiar el color del texto al pasar el mouse por encima */
.stylebutton:hover {
    color: #ffffff; /* Cambia este color según tu preferencia */
    font-weight: bold;

}

.botoncateg {
    background-color: transparent;
    color: #8d8d86;
    padding: 1px 10px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

/* Cambiar el color del texto al pasar el mouse por encima */
.botoncateg:hover {
    color: #000000; /* Cambia este color según tu preferencia */
    font-weight: bold;

}


.header-barra {
    background-color: #4CAF50;
    padding: 1px 10px;
    color: white;
    
}